.News {
  margin-left: 1rem;
  margin-right: 1rem;
}

.News article {
  text-align: justify;
}

.News hr {
  border: 2px solid #f15c27;
  border-radius: 5px;
}

.News h2 {
  margin-bottom: 0;
}

.News h3 {
  margin-top: 0;
}

@media (min-width: 768px) {
  .News {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}
