.image-div {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 20%;
  margin-bottom: 5px;
}

.image-div img {
  width: 100%;
}

div.polaroid {
  width: 30%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 5px;
}

div.container p {
  font-size: x-small;
}

div.polaroid img {
  max-width: 100%;
  height: auto;
}
