.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  margin: 5px;
  border: 1px solid #231f20;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  padding: 5px;
  width: 100%;
}
.div2 {
  grid-area: 1 / 2 / 2 / 6;
}
.div3 {
  grid-area: 1 / 6 / 2 / 7;
}

.div1 img {
  border: 1px solid #231f20;
  width: 100%;
}

.div2 p {
  font-size: small;
  padding: 0.2rem;
  margin: 0;
}

.image-div {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100%;

  display: flex;

  align-items: center;
}

.image-div img {
  border: 1px solid #231f20;
  width: 15%;
}

div.polaroid {
  width: 30%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 5px;
}

div.container p {
  font-size: x-small;
}

div.polaroid img {
  border: 1px solid #231f20;
  max-width: 100%;
  height: auto;
}
