.logo {
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 0px;
}

.logo img {
  float: right;
  height: 60px;
  display: block;
  margin: auto;
}

@media (min-width: 768px) {
  .logo {
    margin-top: 0px;
    width: 100%;
  }

  .logo img {
    float: left;
  }
}
