/* @supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='button'] {
    color: red
  }
} */

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background: #f89421;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  background-color: #231f20;
  margin-top: 60px;
  width: 100%;
}

.carousel li button {
  background-color: #231f20;
}

.carousel li button::before {
  background: #f15c27 !important;
}

.carousel img {
  width: 100%;
}

@media (min-width: 374px) {
  .carousel {
    height: 350px;
  }

  .carousel img {
    height: 310px;
    width: auto;
  }
}
@media (min-width: 768px) {
  .carousel {
    height: 430px;
  }

  .carousel img {
    height: 400px;
    width: auto;
  }
}
