input {
  border-style: none;
}

label {
  background-color: #231f20;
  color: #f15c27;
  padding: 0.5rem;
  margin: 1rem;
}

.date-picker {
  margin: 0 1rem;
}

#show-form-button {
  margin-bottom: 1rem;
}
